<div class="row">
  <% if user_signed_in? %>
    <div class="col-12 new-tweet text-white pt-4 pb-2">
      <%= render 'tweets/form', tweet: @tweet %>
    </div>
  <% end %>

  <% @tweets.each do |tweet| %>
    <%= render "shared/tweet_card", tweet: tweet %>
  <% end %>
</div>

<div class="row mt-2 float-right">
  <%= paginate @tweets %>
</div>
